@use "../../../../assets/styles/GlobalStyle" as global;


.PieChartWithInnerRadiusComp {
    height: 400px;
    width: global.$fullWidth;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .chart__title {
        font-size: 2.3rem;
        font-weight: 600;
    };

    .recharts-legend-item {
        font-size: 1.2rem;
     };
};